<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Local" connectionString="Server=.;Database=WORDDataBase;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="Internet" connectionString="Server=adriansql.ddns.net, 1433;Database=WORDDataBase;User Id=admin;Password=admin;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>